:root
{
   --pagewidth:100vw;
   --pageheight:100vh;
   --darkpurple:#500d83;
   --lightpurple:#5947ab;
   --pagecolor:#e4e2ed;
   --screencolor:#d4d2d6;
   --textstyle:Lucida Sans Unicode;



}